<header>
  <div class="header-container">
      <div class="logo" >
          <i class="fas fa-shipping-fast"></i>&nbsp;
          <strong [routerLink]="['/products']" style="cursor: pointer;">Flipkart</strong>
      </div>
      <div class="search-bar">
          <input type="text" class="form-control" [ngModel]="searchTerm" (ngModelChange)="search($event)" placeholder="Search Products...">
      </div>
      <div class="cart-button">
          <button routerLink="/cart">
              <i class="fas fa-cart-plus"></i>
              <div class="badge bg-danger">{{ totalItem }}</div>
          </button>
      </div>
  </div>
</header>
