/* Styles for the header container */
.header-container {
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  height: 43px; /* Set the desired height */

  /* Responsive styles for smaller screens */
  @media (max-width: 767px) {
      padding: 5px; /* Reduce padding on smaller screens */
  }
}

/* Styles for the logo and navigation */
.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.logo i {
  font-size: 20px;
}

.logo strong {
  font-size: 20px;
}

/* Styles for the search bar */
.search-bar {
  flex-grow: 1; /* Allow the search bar to take up available space */
}

.search-bar input {
  width: 20vw; /* Take up the entire available width */
  padding: 8px; /* Adjust padding for better spacing */
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: 'Poppins', sans-serif;
  transition: 0.6s ease out;
  height: 28px;
  font-size: 14px; /* Adjust font size for better readability */
  margin-left: 30vw;

  display: flex;

  /* Responsive styles for smaller screens */
  @media (max-width: 767px) {
    font-size: 12px; /* Further adjust font size for smaller screens if needed */
  }
}

.search-bar input:hover {
  transform: scale(1.02);
}


.search-bar input:hover {
  transform: scale(1.02);
}

/* Styles for the cart button */
.cart-button button {
  position:relative;
  left:2px;
  right:-1px;
  display: flex; /* Add display:flex to make its children align horizontally */
  align-items: center; /* Center the children vertically */
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  margin-left: 1px; /* Adjust spacing between navigation and cart button */
}

/* Styles for the badge */
.badge.bg-danger {
  position:relative;
  font-size: 8px; 
  top: 10px;
  left:-6px;

}

/* Add styles for the logout button */
.logout-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  margin-left: 5px; /* Adjust spacing between cart button and logout button */

  /* Responsive styles for smaller screens */
  @media (max-width: 767px) {
    display: none; /* Hide the logout button on smaller screens */
  }
}

.search-bar input.placeholder-animation {
  transition: opacity 0.5s ease-in-out;
  animation: fadeInOut 5s infinite; /* Adjust the duration as needed */
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

