.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #d9534f;
    font-size: 2em;
    margin-top: 10px;
}

p {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #428bca;
    align-items: center;
}