<header>
  <div class="header-container">
    <div class="logo-search-container">
      <div class="logo">
        <i class="fas fa-shipping-fast" [routerLink]="['/products']" style="cursor: pointer;"></i>&nbsp;
        <strong [routerLink]="['/products']" style="cursor: pointer;">Flipkart</strong>
      </div>
    </div>
    <div class="cart-button">
      <button routerLink="/cart">
        <lord-icon src="https://cdn.lordicon.com/mfmkufkr.json" trigger="hover" colors="primary:#ffffff"
          style="width:35px;height:35px">
        </lord-icon>
        <div class="badge bg-danger">{{ totalItem }}</div>
      </button>
    </div>
  </div>
</header>