.mat-product-image {
    width: 120px;
  }
  
  .mat-description {
    width: 25%;
  }
  
  .mat-price {
    width: 12%;
  }
  
  .mat-quantity {
    width: 12%;
  }
  
  .mat-total {
    width: 12%;
  }
  
  .mat-button {
    margin: 0;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 20px;
  }
  
  .mat-button-danger {
    background-color: #dc3545;
    color: #fff;
    border-radius: 20px;
  }
  
  .mat-button-primary {
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
  }
  
  .mat-button-success {
    background-color: #28a745;
    color: #fff;
    border-radius: 20px;
  }
  
  .mat-card {
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .mat-card-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .mat-center {
    text-align: center;
    margin-top: 24px;
  }
  .mat-image-responsive {
    max-width: 100%;  /* Ensures the image does not exceed its container's width */
  height: auto;     /* Automatically adjust the height while maintaining the aspect ratio */
  display: block;   /* Removes any extra space around the image */
  margin: 0 auto;   /* Center the image horizontally within its container */
  max-height: 200px;
  }
.mat-table {
    max-width: 100%;
    border-collapse: collapse;
  }
  
  .mat-table th,
  .mat-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .mat-table th {
    background-color: #f2f2f2;
  }
  
  .mat-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .mat-container{
    overflow-x: auto;
  }