<app-header></app-header>
<div class="courses-detail-main-container">
    <div class="course-detail-container">
        <div class="course-details">
            <div class="course-banner">
                <div class="course-banner-image-container">
                    <img [src]="selectedprod.image" class="course-banner-image" alt="Product Image">
                </div>
            </div>
            <div class="course-title">
                <h1>{{ selectedprod.title }}</h1>
            </div>
            <div class="course-info-rating">
                <b>Product Rating:</b>
                <star-rating [starType]="'svg'" [rating]="selectedprod.rating.rate" [readOnly]="true"></star-rating>
            </div>
            <div class="course-desc">
                <p>
                    Product Description:{{ selectedprod.description }}
                </p>
            </div>
            <div class="course-fake-rewiews-list">
                <h2>Consumer's Review</h2>
                <hr>
                <div class="course-fake-rewiews">
                    <div class="course-fake-rewiews-name">
                        <h3>Mark Stefan</h3>
                        <star-rating [starType]="'svg'" [rating]="2" [readOnly]="true"></star-rating>
                    </div>
                    <p>
                        "Exceptional product, outshines competitors, great value!" - This product truly stands out among
                        its competitors. Its exceptional quality, performance, and features make it a worthwhile
                        investment. It not only meets but surpasses expectations, making it a fantastic value for the
                        price. Whether you're a first-time buyer or a long-time user, this product's capabilities are
                        sure to impress and satisfy your needs. It's a game-changer that elevates your experience to new
                        heights, and it's highly recommended for anyone in search of the best in its category.
                    </p>
                </div>

                <div class="course-fake-rewiews">
                    <div class="course-fake-rewiews-name">
                        <h3>Joseph Stalin</h3>
                        <star-rating [starType]="'svg'" [rating]="4" [readOnly]="true"></star-rating>
                    </div>
                    <p>
                        Dreadful service, never returning, avoid at all costs." - The service experience here has been
                        nothing short of a nightmare. It's best to avoid it altogether if you can. Incompetence and
                        indifference are the hallmarks of this service, and it's highly disappointing. Customer
                        satisfaction appears to be at the bottom of their priority list, as they consistently fail to
                        meet even the basic expectations of service quality. Save yourself the frustration and stress by
                        seeking alternatives, as this service provider is not worth your time or money. I will never
                        return and strongly advise others to do the same.
                    </p>
                </div>

                <div class="course-fake-rewiews">
                    <div class="course-fake-rewiews-name">
                        <h3>Arul Kumar</h3>
                        <star-rating [starType]="'svg'" [rating]="2" [readOnly]="true"></star-rating>
                    </div>
                    <p>
                        "Top-notch quality, a must-buy for all, truly exceptional." - The quality of this product is
                        top-notch, setting a standard that others can only aspire to reach. It's a must-buy for anyone
                        seeking excellence in this category. The attention to detail, craftsmanship, and performance are
                        truly exceptional, making it a standout choice. Whether you're a professional or a casual user,
                        this product will not disappoint. It consistently delivers outstanding results and has the
                        potential to transform your experience in a positive way. I wholeheartedly recommend this
                        product to everyone who values quality and reliability.
                    </p>
                </div>
                <div class="course-fake-rewiews">
                    <div class="course-fake-rewiews-name">
                        <h3>Ravi Kumar</h3>
                        <star-rating [starType]="'svg'" [rating]="1" [readOnly]="true"></star-rating>
                    </div>
                    <p>
                        Frustrating experience, much room for improvement." - My experience with this service has been
                        nothing short of frustrating. There is a significant need for improvement in various aspects.
                        From slow response times to a lack of communication and problem-solving skills, the overall
                        service falls far short of acceptable standards. It's disheartening to see such a lack of
                        progress in addressing these issues. Customers deserve better, and I hope this review serves as
                        a call to action for the service provider to take meaningful steps toward improving the overall
                        experience.
                    </p>
                </div>

                <div class="prev-nect-course">
                    <button class="prev-btn" [routerLink]="'/products/product/'+ (selectedprod.id - 1)">Previous
                        Product</button>
                    <button class="next-btn" [routerLink]="'/products/product/'+ (selectedprod.id + 1)">Next
                        Product</button>
                </div>
            </div>
        </div>

        <div class="course-action-items">
            <div class="side-bar-banner">
                <h2>Get Flat 80% Off on this Product.</h2>
            </div>
            <div class="course-price-discount">
                <span class="responsive-price">INR{{ selectedprod.price }}</span>
                <span style="font-size: 18px; font-weight: bold; color: #444; margin:0px 5px;"><s>INR 3199</s></span>
                <span style="font-size: 18px; color: #222; margin:0px 5px;text-wrap:wrap;">86% OFF</span>
                <div class="offer-timer">
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i><b> 1 Day</b> left at this price.</p>
                </div>
            </div>
            <div class="buy-course-div">
                <button class="but" (click)="addtocartfromdetails(selectedprod)">
                    <span>
                        <mat-icon>shopping_cart</mat-icon>
                        ADD TO CART
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>